*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.block-1{
  width: 250px;
  height: 250px;
  border: 3px solid red;
  margin: 10px;
}
.block-2{
  width: 250px;
  height: 250px;
  border: 3px solid blue;
  margin: 10px;
  overflow: hidden;
  position: relative;
}
.block-2 img{
  width: 100%;
  transform: scale(1);
  position: absolute;
  /* top: 50%; */
}
.circle{
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000; 
}
